* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::root {
  --corPrincipal: red;
  --corSecundaria: blue;
}

main {
  border: 1px solid #cfcfcf;
  background: 1px solid #e5e5e5;
  max-width: max-content;
  border-radius: 5px;
  margin: 50px auto;
  padding: 1rem;
  width: 90%;
}

h2 {
	text-align: center;
}

#new-task {
  background: blue;
  padding: 1rem 0;
}

#task-list {
  background: red;
}
