* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corBordas: hsl(240, 4.9%, 83.9%);
}

button {
  border: 0;
  background: nome;
}

body {
  background: #f3f3f3;
}

main {
  border: 1px solid var(--corBordas);
  background: #fff;
  border-radius: 5px;
  margin: 50px auto;
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

header a {
  text-decoration: none;
  font-size: 0.7rem;
  text-shadow: 1px 1px 1px var(--corBordas);
}

.bi-github {
  color: #000;
}

.bi-linkedin {
  color: #0e76a8;
}

#new-task {
  position: relative;
  display: flex;
  gap: 5px;
  margin-top: 0.8rem;
}

#new-task__name {
  border: 1px solid var(--corBordas);
  padding: 0.5rem;
  outline: none;
  flex-grow: 1;
  margin-right: 45px;
}

#task-dupe {
  color: red;
  font-size: 0.7rem;
  display: none;
  position: absolute;
  left: 10px;
  top: -15px;
}

.error {
  border: 1px solid #e98b8b !important;
}

#new-task__add {
  border: 1px solid var(--corBordas);
  background: var(--corBordas);
  position: absolute;
  right: 0;
  height: 100%;
  width: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#task-list,
#task-checked {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid var(--corBordas);
  margin-top: 15px;
  padding-top: 15px;
}

#task-list__container {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  position: relative;
}

.checked input {
  background: rgba(145, 186, 101, 0.642);
  color: #677c55;
}

#task-list__name {
  flex-grow: 1;
  border: 1px solid var(--corBordas);
  padding: 7px;
  outline: none;
}

#task-list__container i {
  background: var(--corBordas);
  border: 1px solid var(--corBordas);
  padding: 5px 7px;
  cursor: pointer;
}
